Package: me.lnl.jb-unlock
Name: JBUnlock
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Flashes the screen when the device Unlocks.
Maintainer: LnL
Author: LnL
Section: Tweaks
